@model IEnumerable<Genre>
<div class="list-group">

    <a asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action">Anasayfa</a>
    @foreach (var genre in Model)
    {
        <a asp-action="Index"asp-controller="Home" asp-route-genreid="@genre.Id" class="list-group-item list-group-item-action">@genre.Name</a>
    }


</div>